.video-modal-playlist {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  border-radius: var(--BORDER-RADIUS);
}

.video-modal-playlist > ul {
  padding: 0.5rem;
  border-bottom: 0.5px solid;
}

.video-modal-playlist > p {
  display: flex;
  border-bottom: 0.5px solid;
  padding: 0.5rem;
}

.video-modal-close {
  margin-left: auto;
  cursor: pointer;
  color: var(--COLOR-ERROR);
}

.p-half {
  padding: 0.5rem;
}

.video-playlist-input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.video-playlist-input > input {
  border: none;
  border-bottom: 1px solid;
}

.all-playlist {
  cursor: pointer;
}
