.home-main {
  grid-area: main;
  margin: 1rem;
}

.btn-round {
  border-radius: 1.5rem;
  margin: 0 1rem 1rem 1rem;
}

.btn-active {
  background-color: var(--COLOR-PRIMARY-DARK);
  color: var(--COLOR-FT);
}
