.liked-video-grid-layout {
    display: grid;
    grid-template-areas:
      "header header header"
      "aside main main";
  }

.liked-video-main {
grid-area: main;
margin: auto;
max-width: 80%;
}

.video-container {
display: flex;
flex-wrap: wrap;
gap: 2rem;

}

.card-vrt {
width: 20rem;
}

.card-desc {
display: flex;
justify-content: center;
align-items: center;
}

.card-img {
padding: 0;
object-fit: contain;
}

.card-img-container {
height: auto;
}

.flex-1 {
flex:1
}

.m-l-1 {
margin-left: 1rem;
}

.liked-video-title {
margin: 1rem 0rem;

}

.card:hover, .card{
border: none
}

li {
list-style: none;
}