.navbar {
  grid-area: header;
  background-color: var(--COLOR-FT);
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.avatar-txt {
  padding: 1.5rem;
}

.navbar-title {
  color: var(--COLOR-PRIMARY);
  margin-left: 2rem;
}

.navbar-login,
.navbar-shop,
.navbar-title a {
  color: var(--COLOR-PRIMARY);
  background: none;
}

.navbar-search {
  border: 1px solid;
}