
  .avatar-txt {
    padding: 1.5rem;
  }
  
  .navbar-title {
    color: var(--COLOR-PRIMARY);
    margin-left: 2rem;
  } 

  .header {
    grid-area: header;
  }

  .navbar {
      background-color: var(--COLOR-FT);
      justify-content: space-between;
  }
  
  .navbar-login,
  .navbar-shop,
  .navbar-title a {
    color: var(--COLOR-PRIMARY);
    background: none;
  }
  
  /* .bg-num {
    top: -0.07rem;
    background-color: var(--COLOR-ERROR);
  }
  
  .bg-icon {
    color: var(--COLOR-FT);
  } */