.position-stack {
  position: absolute;
  border: 0.5px solid;
  max-width: fit-content;
  z-index: 1;
  bottom: -2.6rem;
  right: 0;
}

ul {
  list-style: none;
}

.position-stack > ul > li {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.position-stack > ul span {
  font-size: 1.5rem;
}

.m-r-span {
  margin-right: 5px;
}
