.history-video-grid-layout {
  display: grid;
  grid-template-columns: 15.6rem 1fr;
  grid-template-areas:
    "header header header"
    "aside main main";
}

.history-video-main {
  grid-area: main;
  margin: 1rem;
}

.video-container,
.card-desc,
.history-video-title {
    display: flex;
}


.video-container {
  flex-wrap: wrap;
  gap: 2rem;
}

.card-vrt {
  width: 20rem;
}

.card-desc {
  justify-content: center;
  align-items: center;
}

.card-img {
  padding: 0;
  object-fit: contain;
}

.card-img-container {
  height: auto;
}

.history-video-title {
  margin-bottom: 1rem;
}

.card:hover,
.card {
  border: none;
}

.history-list {
  position: relative;
}
