.playlist-grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "aside main main main";
}

.playlist-main {
  grid-area: main;
  margin: 1rem;
}

.flex-1 {
  flex: 1;
}

.m-l-1 {
  margin-left: 1rem;
}

.playlist-title {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.playlist-list-title,
.playlist-all > li > p {
    display: flex;
}

.m-l-auto {
  margin-left: auto;
}

li {
  list-style: none;
}
.modal-playlist {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background-color: white;
  width: fit-content;
  gap: 1px;
  padding: 0.5rem;
}

.modal-playlist > p {
  display: flex;
  /* margin: 0; */
}

.playlist-btn-close {
  margin-left: auto;
  color: red;
  cursor: pointer;
}

.p-0 {
  padding: 0;
}

.playlist-input {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  gap: 1rem;
}

.playlist-input > input {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background: none;
}

.playlist-all {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  max-width: 15rem;
}

.playlist-list {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid;
  background-color: var(--COLOR-FT);
}

.playlist-video-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    width: fit-content;
}

.btn-remove-position {
    position: absolute;
    bottom: 0;
    right: 0;
}
