.playlist-grid-layout {
  display: grid;
  grid-template-columns: 15.6rem 1fr;
  grid-template-areas:
    "header header header "
    "aside main main ";
}

.playlist-main {
  grid-area: main;
  margin: 1rem;
}

.playlist-title {
  margin-bottom: 1rem;
}

.playlist-title,
.modal-playlist,
.modal-playlist > p,
.playlist-input,
.playlist-container,
.playlist-video-card,
.playlist-container > li > h3,
.playlist-container > li > p {
  display: flex;
}

.modal-playlist {
  flex-direction: column;
  border: 1px solid;
  background-color: white;
  width: fit-content;
  gap: 1px;
  padding: 0.5rem;
}

.playlist-btn-close {
  margin-left: auto;
  color: var(--COLOR-ERROR);
  cursor: pointer;
}

.playlist-input,
.playlist-video-card,
.playlist-title {
  gap: 1rem;
}

.playlist-input {
  flex-direction: column;
  max-width: 20rem;
}

.playlist-input > input {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background: none;
}

.playlist-container {
  gap: 0.5rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.playlist-container > li {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid;
  background-color: var(--COLOR-FT);
  cursor: pointer;
}

.playlist-video-card {
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
}

.btn-remove-position {
  position: absolute;
  bottom: 0;
  right: 0;
}
