.video-grid-layout {
  display: grid;
  grid-template-columns: 15.6rem 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "aside main main right-aside";
    position: relative;
}

.video-main {
  grid-area: main;
  max-width: 90%;
}

.video-aside {
    grid-area: right-aside;
}

.video-title {
    margin: 1rem 0;
}

.video-frame {
  height: 28rem;
  width: 100%;
}

.video-btns  {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.video-btns > button {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
}

.video-btns > button > span {
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.modal-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gray {
  background-color: rgba(200, 200, 200);
}

.btn-fill {
  color:var(--COLOR-PRIMARY-DARK)
}