.video-grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "aside main main right-aside";
    position: relative;
}

.video-main {
  grid-area: main;
  /* margin: 2rem; */
  max-width: 90%;
}

.video-aside {
    grid-area: right-aside;
}

.video-title {
    margin: 1rem 0;
}

.video-frame {
  height: 28rem;
  width: 100%;
}

.video-btns  {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.video-btns > span {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.video-btns > span > span {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.modal-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blur {
  background-color: rgba(200, 200, 200);
}